<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jjang051.ch04.dao.MemberDao">
  <insert id="insertMember" parameterType="com.jjang051.ch04.dto.MemberDto">
    insert into member (userid, userpw, username) values (#{userId}, #{userPw},#{userName})
  </insert>

  <select id="getAllMember" resultType="com.jjang051.ch04.dto.MemberDto">
    select * from member
  </select>
  
  <select id="getOneMember" resultType="com.jjang051.ch04.dto.MemberDto">
    select * from member where userid = 'hong'
  </select>

</mapper>
