@import "mixins";
.header {
  height: 50px;
  background-color: #111;
  color: #fff;
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    height: 50px;
  }
}
.main {
  padding: 20px;
}

.footer {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  padding: 20px;
  p {
    $color: #00a6e8;
    padding: 10px 40px;
    background-color: $color;
    color: #fff;
    border-radius: 100px;
    overflow: hidden;
    font-size: 14px;
    @include longShadow(30, darken($color, 10));
  }
}

.todoList {
  padding: 0;
  margin: 0;
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    border-bottom: 1px solid #ccc;
    button {
      background: none;
      border: none;
      padding: 0;
      background-color: #0184bd;
      border-radius: 3px;
      width: 30px;
      height: 30px;
      color: #fff;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      @include longShadow(30, darken(#0184bd, 10));
      overflow: hidden;
      &.btnDelete {
        background-color: #666;
        @include longShadow(30, darken(#666, 10));
      }
    }
  }
}
