<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MEMBER JOIN</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/layout.css" />
    <script src="/js/bootstrap.bundle/min.js"></script>
  </head>
  <body>
    <div class="form-box">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">USER ID</th>
            <th scope="col">USER NAME</th>
            <th scope="col">PASSWORD</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <th>jjang051</th>
            <td>장성호</td>
            <td>1234</td>
          </tr>
        </tbody>
      </table>
      <div class="text-center mt-5 mb-3">
        <a href="/member/join" class="btn btn-primary btn-lg">JOIN</a>
        <a href="" class="btn btn-secondary btn-lg">HOME</a>
      </div>
    </div>
  </body>
</html>
