<!DOCTYPE html>

<!-- prettier-ignore -->
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MY APP</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/layout.css" />
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery-3.6.4.min.js"></script>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <h1><a href="">LOGO</a></h1>
        <ul class="nav" sec:authorize="isAuthenticated()">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">HOME</a>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link" href="/member/info" sec:authentication="name">jjang051</a> -->
            <a class="nav-link" href="/member/info" sec:authentication="principal.member.name">jjang051</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/member/logout">LOG OUT</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" th:href="@{/board/list03}">BOARD</a>
          </li>
          <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
            <a class="nav-link" href="#" th:href="@{/admin/index}">ADMIN</a>
          </li>
          <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER')" class="nav-item">
            <a class="nav-link" href="#" th:href="@{/management/index}">Management</a>
          </li>
        </ul>
        <ul class="nav" sec:authorize="isAnonymous()">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/member/join">JOIN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/member/login">LOGIN</a>
          </li>
        </ul>
      </div>
    </header>

    <main class="main">
      <!-- 여기에 공통요소를 제외한 나머지 것들 가져다 쓰기.... -->
      <div class="contents" layout:fragment="contents"></div>
    </main>

    <footer class="footer">
      <p>all copyrights reserved by jjang051</p>
    </footer>

    <div class="modal fade" tabindex="-1" id="msgModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">&#128681;TITLE&#128681;</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p id="msg" th:text="${msg}">Modal body text goes here.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
          </div>
        </div>
      </div>
    </div>
    <script th:inline="javascript">
      let isState = [[${isState}]];
      const msgModal = new bootstrap.Modal("#msgModal");
      if(isState==="show"){
        msgModal.show();
      }
    </script>
  </body>
</html>
