<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MY APP</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="/css/lightpick.css" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/layout.css" />
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="/js/lightpick.js"></script>
  </head>
  <body>
    <header class="header">
      <h1>TODO <strong>APP</strong></h1>
    </header>

    <main class="main">
      <div class="mb-3">
        <label for="datePicker" class="form-label">날짜를 선택해 주세요.</label>
        <input type="text" class="form-control" id="datePicker" placeholder="날짜를 선택해 주세요." />
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="할일을 입력해 주세요." aria-label="할일을 입력해 주세요." aria-describedby="btnAdd" id="todo" />
        <button class="btn btn-outline-secondary" type="button" id="btnAdd">ADD</button>
      </div>

      <div class="todoListBox">
        <ul class="todoList"></ul>
      </div>
    </main>

    <footer class="footer">
      <p>all copyrights reserved by jjang051</p>
    </footer>
    <script>
      //ajax
      const picker = new Lightpick({
        field: document.getElementById("datePicker"),
        format: "YYYYMMDD",
        onSelect: function (date) {
          //document.getElementById("result-1").innerHTML = date.format("Do MMMM YYYY");
          loadData();
        },
      });
      //http - method  : POST,DELETE,PUT,GET
      $("#btnAdd").on("click", function () {
        //alert("할일을 입력합니다.");
        const sendData = {
          todo: $("#todo").val(),
          done: 0,
          pickedDate: $("#datePicker").val(),
        };
        $.ajax({
          url: "/todo/add",
          type: "POST",
          data: sendData,
          success: function (response) {
            console.log(response);
            makeList(response);
          },
          error: function (err) {
            console.log(err);
          },
        });
      });

      // html method  /get/post/put/delete
      function loadData() {
        const sendData = {
          pickedDate: $("#datePicker").val(),
        };
        $.ajax({
          //     /todo/list/20230429
          //     /todo/list?pickedDate=20230429

          url: "/todo/list/" + sendData.pickedDate,
          type: "GET",
          success: function (response) {
            makeList(response.todoList);
          },
        });
      }

      function makeList(array) {
        let temp = "";
        $.each(array, function (idx, item) {
          temp += `
          <li data-no="${item.no}" class="${item.done == 1 ? "done" : "undone"}">
            <span class="txt">${item.todo}</span>
            <div class="btns">
              <button class="btnDone"><span class="material-icons">done</span></button>
              <button class="btnDelete"><span class="material-icons">delete</span></button>
            </div>
          </li>`;
        });
        $(".todoList").html(temp);
      }
      /*
      $(".todoList").on("click", ".btnDelete", function () {
        //alert("난 안떠요...");
        const selectedNo = parseInt($(this).parent().data("no"));
        const selectedItem = $(this).parent();
        const sendData = {
          no: selectedNo,
        };
        $.ajax({
          url: "/todo/del",
          type: "POST",
          data: sendData,
          success: function (response) {
            console.log(response);
            if (response.result === "ok") {
              selectedItem.remove();
            }
            //makeList(response);
          },
          error: function (err) {
            console.log(err);
          },
        });
      });
      */
      $(".todoList").on("click", ".btnDelete", function () {
        //alert("난 안떠요...");
        const selectedNo = parseInt($(this).parents("li").data("no"));
        const selectedItem = $(this).parents("li");
        const sendData = {
          no: selectedNo,
        };
        $.ajax({
          url: "/todo/del/" + sendData.no,
          type: "DELETE",
          data: sendData,
          success: function (response) {
            console.log(response);
            if (response.result === "ok") {
              selectedItem.remove();
            }
            //makeList(response);
          },
          error: function (err) {
            console.log(err);
          },
        });
      });

      // ajax통해서 list
      $(".todoList").on("click", ".btnDone", function () {
        //alert("난 안떠요...");
        const selectedNo = parseInt($(this).parents("li").data("no"));
        const selectedItem = $(this).parents("li");
        const doneState = selectedItem.hasClass("done") ? 0 : 1;
        const sendData = {
          //no: selectedNo,
          done: doneState,
        };
        $.ajax({
          url: "/todo/modify/" + selectedNo,
          type: "PUT",
          data: sendData,
          success: function (response) {
            console.log(response);
            if (response.result === "ok") {
              //selectedItem.remove();
              // 수정이 완료된 상태를 보장받는다.
              if (selectedItem.hasClass("done")) {
                selectedItem.removeClass("done").addClass("undone");
                selectedItem.find(".btnDone").text("done");
              } else {
                selectedItem.removeClass("undone").addClass("done");
                selectedItem.find(".btnDone").text("undone");
              }
            }
            //makeList(response);
          },
          error: function (err) {
            console.log(err);
          },
        });
      });

      picker.setDate(new Date());
      loadData();
      // 비동기
    </script>
  </body>
</html>
